<!DOCTYPE html>
<html>
<head> 
  <link rel="stylesheet" type="text/css" href="/CSS/styles.css">
  <title> {{title}} </title>
</head>
<body>
   <h1>{{title}}</h1>
<div> 
   {{#each userEntries}} 
      <p>UserID: {{this.userid}}  Password: {{this.password}}  Role: {{this.role}}</a></p> 
   {{/each}} 
</div>
<div>
   <h2>Remove users: </h2>
</div>
<script src="/routes/eventListeners.js"></script>
</body>
</html>