<!DOCTYPE html>
<html>
<head> 
<title>{{title}}</title>
<link rel="stylesheet" type="text/css" href="/CSS/styles.css">
</style>
</head>
<body>
    <h1>{{title}}</h1>
    <div id="weatherInfo"> 
        <label for="cityInput">City:</label>
        <input type="text" id="cityInput" placeholder="Enter city">
        <button type="button" id="weather_button"> Get Weather </button>
        <button type="button" id="return_button"> Return to main page </button> 
        {{#if weather}}
        <div>
            <h2>Weather in {{weather.name}},{{weather.sys.country}}</h2>
            <p>Temperature: {{temp}} Celsius</p>
            <p>Main: {{main}}</p>
            <p>Description: {{description}}</p>
            <p>Humidity: {{weather.main.humidity}}%</p>
        </div>
        {{/if}}
        {{#if error}}
        <p>{{error}}</p>
        {{/if}}
    </div>
    <script src="/routes/eventListeners.js"></script>
</body>
</html>
